.page{
  display: flex;
  flex-direction: column;
}

.header{
    display: block;
    padding-top: 3px;
}

.top-header{
    margin-top:23px;
/*     background-color: magenta;
 */    height: 49px;
}
.top-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
        width: 70px;
/*     background-color: lightgray;
 */    padding: 4px 28px 0 30px;
    
}

.logo-img{
    padding-left: 20px;
    width: 92px;
    padding-right: 20px;
    
}

.search-container{
   /*  background-color: cyan; */
    width: 940px;
    padding-left: 50px;
    
}

.search-form-container{
    display: flex;
}

.main__search-wrapper {
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 46px;
    width: 646px;
    align-items: center;
    padding-left: 14px;
    padding-right: 8px;
    margin-bottom: 18px;
  }
  
  .main__search-wrapper:focus-within,
  .main__search-wrapper:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
  }
  
  .main__search {
      /* background-color: lightgray; */
    width: 533px;
    margin-left: 13px;
    border: none;
    outline: none;
  }

  .gcse-searchbox-only{
   
  }

  .controllers{
/*       background-color: lightgreen;
 */        display: flex;
        flex: 0 0 auto;
        margin-top: -5px;
        align-items: center;
        flex-direction: row;
        height: 100%;
  }

  .controller-clear{
      padding-right: 4px;
  }

  .clear-svg{
      width: 24px;
      height: 24px;
      color: #70757a;
      fill: currentColor;
  }

  .voice-svg{
     width: 24px;
     padding: 0 8px 0 8px;
  }

  .divider{
    margin-left: 10px;
    border-left: 1px solid #dfe1e5;
    height: 65%;
  }

  .search-svg{
    width: 24px;
    flex: 0 0 auto;
    padding-right: 13px;
    color: #4285f4;
    fill: currentColor;
  }

  .header-buttons-container{
      display: flex;
/*       background-color: darkblue;
 */      height: 46px;
      width: 200px;
      
  }

  .top-header-container__buttons-container{
    margin-bottom: 20px;
      align-items: center;
      padding-right: 20px;
  }

  .settings-button-container{
    /*   background-color: darkgoldenrod; */
    height: 44px;
  }

  .settings-button-container:hover{
    background-color: rgba(218,220,224,.5);
    text-decoration: none;
    border-radius: 100%;
    cursor: pointer;
  }

  .controller-settings{
      width: 24px;
      padding-right: 10px;
      margin-left: 10px;
      margin-top: 10px;
  }
  
  .more-apps-container{
    height: 100%;
  }

  .more-apps-container:hover{
    background-color: rgba(218,220,224,.5);
    text-decoration: none;
    border-radius: 100%;
    cursor: pointer;
  }

  .controller-more-apps{
    width: 24px;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .button {
    
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    margin: 11px 4px;
    padding: 0 12px;
    line-height: 32px;
    height: 35px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
  }
  
  .button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
  
  .button--primary {
    background: #1a73e8;
    border: 1px solid transparent;
    color: white;
  }
  
  .button--primary:hover {
    background: #2b7de9;
    color: white;
    border: 1px solid transparent;
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
      0 1px 3px 1px rgba(66, 133, 244, 0.15);
  }


.middle-header{
    /* background-color: mediumaquamarine; */
   /*  border-bottom: 1px solid rgba(230, 230, 230, 0.774); */
    background: #fff;
    height: 58px;
    padding: 0;
    position: relative;
    z-index: 126;
    white-space: nowrap;
}

.middle-header-wrapper{
    color: #70757a;
    font-size: 14px;
    font-family: Google Sans,arial,sans-serif;
    border-bottom: 1px solid #ebebeb;
    margin-top: 10px;
    position: relative;
    z-index: 126;
    height: 50px;
}

.navigation-tool-bar{
    display: flex;
}

.item-container{
    
    margin-left: 169px;
}

.items{
    position: relative;
    white-space: wrap;
    align-items: center;
    display: flex;
   /*  -ms-flex-pack: justify; */
    float: left;
    justify-content: space-between;  
}

.items__container{
    font-size: 14px;
    font-family: Google Sans,arial,sans-serif;
}

.item-svg{
  width: 16px;
  padding-right: 5px;
  color: #5f6368;
  fill: currentColor;
}

.item-text{
  padding-right: 25px;
  
}

.item-text__link{
  text-decoration: none;
  color: #5f6368;
}

.tools-button-wrapper{
    margin-top: -5px;
    margin-left: 120px;
 /*  background-color: yellow; */
}

.bottom-header{
    /* background-color: mediumblue; */
    height: 43px;
}

.footer{
  font-family: arial,sans-serif;
}

.page__footer{
  
  
}

.footer-region{
  display: flex;
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
  background-color: #f2f2f2;
  padding-left: 230px;
}

.footer__country {
  
}

.local-region{
  color: #3c4043;
  font-weight: bold;
}

.local-region__pointer{
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 6px 4px 9px 0;
    vertical-align: middle;
    width: 10px;
    background: #70757a;
}

.local-region:hover{
  cursor: pointer;
}

.divider{
    display: inline-block;
    margin-left: 13px;
    padding-left: 16px;
    border-left: 1px solid #dadce0;
    height: 30px;
    
}


.links{
  color: #1a73e8;
}
.footer__menu-wrapper {
  font-size: 14px;
  display: flex;
  padding: 0 20px;
  background-color: #f2f2f2;
  justify-content: space-between;
}

.footer__menu {
  margin-left: 180px;
  padding-left: 27px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer__link {
  padding: 15px;
}

.footer__link .link {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
}

.link:hover{
  color: #3c4043;
}

.page__footer {
  
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}


.links:hover{
  cursor: pointer;
}

.result{
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  margin-left: 170px;
}

#inherit-search{
  /* ackground-color: blue; */
  font: 16px arial,sans-serif;
  width: 600px;
  margin-left: 13px;
  margin-top: 5px;
  border: none;
  outline: none;
}

.gcse-searchbox-only{
  
}

.gsc-search-button-v2{

padding: 6px 27px;
width: auto;
vertical-align: middle;
border: unset !important;
border-radius: 0px !important;
border-color: unset !important;
background-color:white !important;
}

.gsc-input-box {
  border: unset !important;
  background: #fff;
}

.gscb_a {
  display: inline-block;
  font: 35px/15px arial,sans-serif !important;
  padding-top: 5px !important;
  line-height: 13px;
}

.gsc-search-button-v2 > svg{
  color: #4285f4 !important;
  fill: currentColor !important;
  width: 24px !important;
  height: 24px !important;
}

.gsc-above-wrapper-area {
  border-bottom: unset !important;
  padding: 0px 0 5px 0 !important;
  margin-top: -10px !important;
}

.gsc-orderby-container{
  visibility: hidden !important;
}

@media all and (max-width: 1299px){

  .item-container{
    
    margin-left: 120px;
  }

  .gcse-searchresults-only{
    margin-left: 120px;
  }

  .header-logo{
    margin-left: 75px;
  }

}